#box1{
    width: 200px;
    height: 200px;
    background: red;
    font-size: 25px;
    text-align: center;
}
#box1:hover{
    animation: myslide 15s ease-in 1s infinite right;
}

@keyframes myslide {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}